// Color Variables
// ---------------

$pink: #FA9292;
$purple: #73497D;
$white: #ffffff;
$dark-gray: #303030;

// Breakpoints 
// -----------

$phone: "(min-width: 0px) and (max-width: 639px)";
$mobile-nav: "(min-width: 0px) and (max-width: 903px)";
$mobile-nav-up: "(min-width: 904px)";
$tablet: "(min-width: 640px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// Mixins
// ------

// Row Mixin
@mixin row () {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 .5em 0 .5em;
  }

// Body Sizing & Style
// -------------------

* {
   margin: 0;
   border: none;
}

body {
   // Default Color (For Browsers Who Don't Support Gradient) 
   background: $purple;
   // For Safari 5.1 - 6.0 
   background: -webkit-linear-gradient(left top, $pink, $purple);
   // For Opera 11.1 to 12.0
   background: -o-linear-gradient(bottom right, $pink, $purple);
   // For Firefox 3.6 to 15
   background: -moz-linear-gradient(bottom right, $pink, $purple);
   // Standard Syntax
   background: linear-gradient(to bottom right, $pink, $purple);

   width: 100vw;
   height: 100vh;
   max-height: 100%;
   max-width: 100%;
   overflow-y: hidden;
}

// Typography
// ----------

// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Font Variables
$default-font: 'Montserrat', 'Helvetica', sans-serif;
$default-font-color: $white;
$default-text-shadow: 0px 3px 6px rgba(0, 0, 0, .16);

h1, h2, h3, h4, h5, h5, p, span, div, a {
   font-family: $default-font;
   color: $default-font-color;
}

h1 {
	text-shadow: $default-text-shadow;
}

// Link Styles

a {
	text-decoration: none;
}

#app {
   height: 95%;
   margin: 1em;
   #message {
      margin-top: 5rem;
	  font-size: 2rem;
	  font-weight: bold;
	  text-shadow: $default-text-shadow;
   }
}

.weather-indicator {
   display: flex;
   align-items: center;
   justify-content: center;
   .top-bar {
      width: 33%;
      text-align: center;
   }
}

#icon {
   max-width: 100px;
   min-width: 50px;
   // Small Screens
   @media #{$phone} {
      max-width: 75px;
   }
}

#temp {
   font-size: 3rem;
   font-weight: bold;
   text-shadow: $default-text-shadow;
}

#location {
	font-weight: bold;
	text-shadow: $default-text-shadow;
}

#fallbackFlex {
	@include row();
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
	h1 {
		display: none;
		margin-bottom: .5em;
	}
}

#errorContainer {
	font-size: .8rem;
	margin: 1em 0 1em 0;
	text-align: left;
}

#fallbackContainer {
	display: none;
	width: 100%;
}

// Form Styling
// ------------

form {
	margin: 1em 0 1em 0;
	display: block;
	// background: green;
	width: 100%;
}

// Label Variables
$label-color: $default-font-color;

// Label Styles
label {
	display: block;
	margin: 0 0 .5em 0;
	font-size: .8rem;
	color: $label-color;
	text-align: left;
}

// Input Variables
$input-color: $dark-gray;

// Input Styles
input[type="number"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	padding: 1em;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: .3em;
	color: $dark-gray;
}

// Submit Variables
$submit-bg: $dark-gray;

// Submit 
input[type="submit"] {
	margin: .5em 0 0 0;
	background: $submit-bg;
	color: $white;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	padding: 1em;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: .3em;
	cursor: pointer;
	transition: 180ms ease background;
	&:hover {
		background: darken($submit-bg, 5%);
	}
}

// Credits Section
// ---------------

.credits {
	display: none;
	justify-content: space-between;
	margin-top: 2em;
	text-align: left;
	font-size: .8rem;
	a:hover {
		text-decoration: underline;
	}
}

// Loading SVG
// -----------

$width: 100px;

.showbox {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   padding: 5%;
display: flex;
align-content: center;
justify-content: center;
max-width: $width;
}

.loader {
//   position: relative;
  width: $width;
  margin: 0 auto 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
//   height: 100%;
width: $width;
height: $width;
  transform-origin: center center;
//   width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $white;
  }
  40% {
    stroke: $white;
  }
  66% {
    stroke: $white;
  }
  80%,
  90% {
    stroke: $white;
  }
}



