@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  border: none; }

body {
  background: #73497D;
  background: -webkit-linear-gradient(left top, #FA9292, #73497D);
  background: -o-linear-gradient(bottom right, #FA9292, #73497D);
  background: -moz-linear-gradient(bottom right, #FA9292, #73497D);
  background: linear-gradient(to bottom right, #FA9292, #73497D);
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  overflow-y: hidden; }

h1, h2, h3, h4, h5, h5, p, span, div, a {
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #ffffff; }

h1 {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

a {
  text-decoration: none; }

#app {
  height: 95%;
  margin: 1em; }
  #app #message {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

.weather-indicator {
  display: flex;
  align-items: center;
  justify-content: center; }
  .weather-indicator .top-bar {
    width: 33%;
    text-align: center; }

#icon {
  max-width: 100px;
  min-width: 50px; }
  @media (min-width: 0px) and (max-width: 639px) {
    #icon {
      max-width: 75px; } }

#temp {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

#location {
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

#fallbackFlex {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  text-align: center; }
  #fallbackFlex h1 {
    display: none;
    margin-bottom: .5em; }

#errorContainer {
  font-size: .8rem;
  margin: 1em 0 1em 0;
  text-align: left; }

#fallbackContainer {
  display: none;
  width: 100%; }

form {
  margin: 1em 0 1em 0;
  display: block;
  width: 100%; }

label {
  display: block;
  margin: 0 0 .5em 0;
  font-size: .8rem;
  color: #ffffff;
  text-align: left; }

input[type="number"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: .3em;
  color: #303030; }

input[type="submit"] {
  margin: .5em 0 0 0;
  background: #303030;
  color: #ffffff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: .3em;
  cursor: pointer;
  transition: 180ms ease background; }
  input[type="submit"]:hover {
    background: #232323; }

.credits {
  display: none;
  justify-content: space-between;
  margin-top: 2em;
  text-align: left;
  font-size: .8rem; }
  .credits a:hover {
    text-decoration: underline; }

.showbox {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 100px; }

.loader {
  width: 100px;
  margin: 0 auto 0 auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  width: 100px;
  height: 100px;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%,
  0% {
    stroke: #ffffff; }
  40% {
    stroke: #ffffff; }
  66% {
    stroke: #ffffff; }
  80%,
  90% {
    stroke: #ffffff; } }
