@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  margin: 0; }

body {
  background: #73497D;
  background: -webkit-linear-gradient(left top, #FA9292, #73497D);
  background: -o-linear-gradient(bottom right, #FA9292, #73497D);
  background: -moz-linear-gradient(bottom right, #FA9292, #73497D);
  background: linear-gradient(to bottom right, #FA9292, #73497D);
  width: 100vw;
  height: 100vh; }

h1, h2, h3, h4, h5, h5, p, span, div, a {
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #ffffff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

#app {
  height: 95%;
  margin: 1em; }
  #app #message {
    margin-top: 5rem;
    font-size: 2rem; }

.weather-indicator {
  display: flex;
  align-items: center;
  justify-content: center; }
  .weather-indicator .top-bar {
    width: 33%;
    text-align: center; }

#icon {
  max-width: 100px;
  min-width: 50px; }
  @media (min-width: 0px) and (max-width: 639px) {
    #icon {
      max-width: 75px; } }

#temp {
  font-size: 3rem; }

#errorContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

#fallbackContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%; }

.loader {
  position: relative;
  margin: 50% auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%,
  0% {
    stroke: #ffffff; }
  40% {
    stroke: #ffffff; }
  66% {
    stroke: #ffffff; }
  80%,
  90% {
    stroke: #ffffff; } }
